# Finding GCD

In [1]:
# takes time proportional to min(m,n)

def gcd(m,n):
  g=1
  for i in range(1,min(m,n)+1):
    if m%i==0 and n%i==0:
      g=i
  return g

In [2]:
# takes time proportional to max(m,n)

def gcd(m,n):
  a, b = max(m,n), min(m,n)
  if a%b==0:
    return b
  else:
    return gcd(b,a-b)

In [3]:
print(gcd(2676756,14666552))

4

**Euclid's Algorithm**
- If n divides m, gcd(m,n) = n
- Otherwise, compute gcd(n, m mod n)

In [4]:
# takes time proportional to number of digits in max(m,n)

def gcd(m,n):
  a, b = max(m,n), min(m,n)
  if a%b==0:
    return b
  else:
    return gcd(b,a%b)

In [5]:
print(gcd(36,15))

3

# Finding factors

In [6]:
def factors(n):
  l=[]
  for i in range(1,n+1):
    if n%i==0:
      l.append(i)
  return l

# Finding primes

In [7]:
def prime(n):
  return factors(n)==[1,n]

In [8]:
def prime(n):
  result=True
  for i in range(2,n):
    if n%i==0:
      result=False
  return result

In [9]:
def prime(n):
  result=True
  for i in range(2,n):
    if n%i==0:
      result=False
      break
  return result

In [10]:
def prime(n):
  result,i= True,2
  while result and (i<n):
    if n%i==0:
      result= False
    i+=1
  return result

In [11]:
import math
def prime(n):
  result,i= True,2
  while result and (i<math.sqrt(n)):
    if n%i==0:
      result= False
    i+=1
  return result

# Finding primes upto m

In [12]:
def primesupto(m):
  l=[]
  for i in range(1,m+1):
    if prime(i):
      l.append(i)
  return l

In [13]:
print(primesupto(45))

[1, 2, 3, 4, 5, 7, 9, 11, 13, 17, 19, 23, 25, 29, 31, 37, 41, 43]

# Finding first m primes

In [14]:
def firstprimes(m):
  count,i,l= 0,1,[]
  while(count<m):
    if prime(i):
      count+=1
      l.append(i)
    i+=1
  return l

In [15]:
print(firstprimes(15))

[1, 2, 3, 4, 5, 7, 9, 11, 13, 17, 19, 23, 25, 29, 31]

**Twin Primes : p, p+2**

# Computing differences between primes

In [16]:
def primediff(n):
  lastprime=2
  pd={}
  for i in range(3,n):
    if prime(i):
      d= i-lastprime
      lastprime=i
      if d in pd.keys():
        pd[d]=pd[d]+1
      else:
        pd[d]=1
  return pd

In [17]:
primediff(17)

{1: 3, 2: 4}

# Exception Handling

## **Terminology**

**try:**
<br>
**........**   (code where error may occur) 
<br>

**except IndexError:**
<br>
**.........**     (handle IndexError) 
<br>

**except (NameError, KeyError):**
<br>
**.........**   (handle multiple exception types)
<br>

**except:**
<br>
**..........**  (handle all other exceptions)
<br>

**else:**
<br>
**..........**   (execute if try runs without errors)

### **Using exceptions positively**

In [18]:
scores= {"Ansh": [3,22], "Sam": [300,55]}

In [19]:
b="Mani"
s=[77,54]

In [20]:
# Traditional approach

if b in scores.keys():
  scores[b].append(s)
else:
  scores[b]=s

In [21]:
scores

{'Ansh': [3, 22], 'Mani': [77, 54], 'Sam': [300, 55]}

In [22]:
# Using exceptions

try:
  scores[b].append(s)
except KeyError:
  scores[b]=s

In [23]:
scores

{'Ansh': [3, 22], 'Mani': [77, 54, [...]], 'Sam': [300, 55]}

# Classes and Objects

## **2D points**

- By default a point is (0,0)
- Translation: shift the point 
> (x,y) -> (x + deltax, y + deltay)
- Distance from the origin 
> d= sqrt(x^2+y^2)

In [24]:
class Point:
  def __init__(self,a=0,b=0):
    self.x=a
    self.y=b

  def translate(self,deltax,deltay):
    self.x += deltax
    self.y += deltay
    return (self.x, self.y)

  def odistance(self):
    import math
    d= math.sqrt(self.x**2 + self.y**2)
    return d

In [25]:
p=Point(5,7)
q=Point(3,5)

In [26]:
p.odistance(), q.odistance()

(8.602325267042627, 5.830951894845301)

In [27]:
class Point:
  def __init__(self,a=0,b=0):
    self.x=a
    self.y=b

  def translate(self,deltax,deltay):
    self.x += deltax
    self.y += deltay
    return (self.x, self.y)

  def odistance(self):
    import math
    d= math.sqrt(self.x**2 + self.y**2)
    return d
    
  def __str__(self):
    return '('+str(self.x)+','+str(self.y)+')'

  def __add__(self,p):
    return Point(self.x + p.x, self.y + p.y)

In [28]:
p=Point(5,7)
q=Point(3,5)

In [29]:
print(p+q)

(8,12)

### **Polar coordinates**

- **(r, theta)** instead of **(x,y)**
  - **r = sqrt(x^2+y^2)**
  - **theta = tan inverse (y/x)**
- Distance from origin = **r**
- Translation
  - convert **(r, theta)** to **(x,y)**
  - **x= r(cos theta)** , **y= r(sin theta)**
  - recompute **r, theta** from **(x+deltax, y+deltay)**

In [30]:
import math
class Point:
  def __init__(self,a=0,b=0):
    self.r= math.sqrt(a^2+b^2)
    if a==0:
      self.theta= math.pi/2
    else:
      self.theta= math.atan(b/a)

  def odistance(self):
    return self.r

  def translate(self,deltax,deltay):
    x= self.r*math.cos(self.theta)
    y= self.r*math.sin(self.theta)
    x+=deltax
    y+=deltay
    self.r= math.sqrt(x^2+y^2)

    if x==0:
      self.theta= math.pi/2
    else:
      self.theta= math.atan(y/x)

In [31]:
p=Point(5,7)
q=Point(3,5)

In [32]:
p.odistance(), q.odistance()

(3.7416573867739413, 2.449489742783178)

In [33]:
p.r, p.theta

(3.7416573867739413, 0.9505468408120751)

# Timing our code

Python executes 10^7 operations per second

In [34]:
import time 

class TimerError(Exception):
  """A custom exception used to report errors in use of Timer class"""

class Timer:
  def __init__(self):
    self._start_time= None
    self._elapsed_time= None
  
  def start(self):
    """Start a new timer"""
    if self._start_time is not None:
      raise TimerError("Timer is running. Use .stop()")
    self._start_time= time.perf_counter()
  
  def stop(self):
    """Save the elapsed time and re-initialize timer"""
    if self._start_time is None:
      raise TimerError("Timer is not running. Use start()")
    self._elapsed_time= time.perf_counter() - self._start_time
    self._start_time= None

  def elapsed(self):
    """Report elapsed time"""
    if self._elapsed_time is None:
      raise TimerError("Timer has not been run yet. Use start()")
    return self._elapsed_time

  def __str__(self):
    """print() prints elapsed time"""
    return str(self._elapsed_time)

In [35]:
t= Timer()
for i in range(9):
  t.start()
  n=0
  for j in range(10**i):
    n+=j
  t.stop()
  print(i,t)

0 4.215000004137437e-06
1 6.677000001786837e-06
2 2.452699999366814e-05
3 0.0002091589999935195
4 0.0021510529999915207
5 0.014690414000000374
6 0.13158818200000155
7 1.3355644499999926
8 12.770665457999996